Repository navikt/sykmelder-statistikk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls,yml,md,mdx}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

setup env.ts and logging
  .env.development
  .env.test
  .gitignore
  package.json
  src/app/api/logger/route.ts
  src/app/client-component.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

env based on runtime env
  src/app/layout.tsx
Due: yarn eslint --fix --max-warnings=0

CODEOWNERS and LICENSE
  CODEOWNERS
  LICENSE
  README.md
Due: yarn prettier --write

add dependabot.yml
  .github/dependabot.yml
Due: yarn prettier --write

nais
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yml
  Dockerfile
  README.md
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  next.config.js
  package.json
  public/next.svg
  public/vercel.svg
  src/app/api/internal/is_alive/route.ts
  src/app/api/internal/is_ready/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/auth/authentication.tsx
  src/components/Resolvers.tsx
  src/env.ts
  src/utils/ts.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

nais (#1)
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yml
  Dockerfile
  README.md
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  next.config.js
  package.json
  public/next.svg
  public/vercel.svg
  src/app/api/internal/is_alive/route.ts
  src/app/api/internal/is_ready/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/auth/authentication.tsx
  src/components/Resolvers.tsx
  src/env.ts
  src/utils/ts.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

set dependabot to weekly [skip ci]
  .github/dependabot.yml
Due: yarn prettier --write

example of server component data-fetching graph
  next.config.mjs
  package.json
  src/aksel-server.ts
  src/aksel.ts
  src/app/client-component.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/sykefravaer/varighet/page.tsx
  src/components/decorator/rsc-breadcrumber.tsx
  src/components/graphs/RechartsLine.tsx
  src/components/graphs/colors.ts
  src/components/graphs/example-graph-recharts.tsx
  src/components/header/app-header.tsx
  src/components/layout/page-layout.tsx
  src/data/getExampleData.ts
  src/utils/date.ts
  tailwind.config.mjs
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

example of server component data-fetching graph (#8)
  next.config.mjs
  package.json
  src/aksel-server.ts
  src/aksel.ts
  src/app/client-component.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/sykefravaer/varighet/page.tsx
  src/components/decorator/rsc-breadcrumber.tsx
  src/components/graphs/RechartsLine.tsx
  src/components/graphs/colors.ts
  src/components/graphs/example-graph-recharts.tsx
  src/components/header/app-header.tsx
  src/components/layout/page-layout.tsx
  src/data/getExampleData.ts
  src/utils/date.ts
  tailwind.config.mjs
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

skeleton routes and strongly typed routes
  next.config.mjs
  src/app/diagnoser/page.tsx
  src/app/diagnoser/sok/page.tsx
  src/app/layout.tsx
  src/app/om-losningen/page.tsx
  src/app/page.tsx
  src/app/pasientdemografi/page.tsx
  src/app/sykefravaer/gradering/page.tsx
  src/app/sykefravaer/tilbakemelding/page.tsx
  src/app/sykmelding/gradering/page.tsx
  src/app/sykmelding/spredning/page.tsx
  src/app/sykmelding/varighet/page.tsx
  src/components/Resolvers.tsx
  src/components/decorator/breadcrumb-hooks.ts
  src/components/decorator/page-crumbs.tsx
  src/components/decorator/rsc-breadcrumber.tsx
  src/components/decorator/types.ts
  src/components/header/app-header.tsx
Due: yarn eslint --fix --max-warnings=0

skeleton routes and strongly typed routes (#9)
  next.config.mjs
  src/app/diagnoser/page.tsx
  src/app/diagnoser/sok/page.tsx
  src/app/layout.tsx
  src/app/om-losningen/page.tsx
  src/app/page.tsx
  src/app/pasientdemografi/page.tsx
  src/app/sykefravaer/gradering/page.tsx
  src/app/sykefravaer/tilbakemelding/page.tsx
  src/app/sykmelding/gradering/page.tsx
  src/app/sykmelding/spredning/page.tsx
  src/app/sykmelding/varighet/page.tsx
  src/components/Resolvers.tsx
  src/components/decorator/breadcrumb-hooks.ts
  src/components/decorator/page-crumbs.tsx
  src/components/decorator/rsc-breadcrumber.tsx
  src/components/decorator/types.ts
  src/components/header/app-header.tsx
Due: yarn eslint --fix --max-warnings=0

login on all pages
  src/app/diagnoser/page.tsx
  src/app/diagnoser/sok/page.tsx
  src/app/layout.tsx
  src/app/om-losningen/page.tsx
  src/app/pasientdemografi/page.tsx
  src/app/sykefravaer/gradering/page.tsx
  src/app/sykefravaer/tilbakemelding/page.tsx
  src/app/sykefravaer/varighet/page.tsx
  src/app/sykmelding/gradering/page.tsx
  src/app/sykmelding/spredning/page.tsx
  src/app/sykmelding/varighet/page.tsx
Due: yarn eslint --fix --max-warnings=0

simple in local and demo, not local and dev
  src/app/layout.tsx
Due: yarn eslint --fix --max-warnings=0

poc url based graph/table toggle
  package.json
  src/aksel.ts
  src/app/page.tsx
  src/components/graphs/TableView.tsx
  src/components/graphs/graderte-sykmeldinger-evolution/controls.tsx
  src/components/graphs/graderte-sykmeldinger-evolution/graph-view.tsx
  src/components/graphs/graderte-sykmeldinger-evolution/graph.tsx
  src/utils/url.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

run dependabot on sundays [skip ci]
  .github/dependabot.yml
Due: yarn prettier --write

bump dependencies
  package.json
  yarn.lock
Due: yarn prettier --write

poc playwright
  .gitignore
  e2e/.eslintrc
  e2e/sanity.spec.ts
  package.json
  playwright.config.ts
  src/data/getExampleData.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: yarn 4 & node 20
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  Dockerfile
  package.json
  yarn.lock
Due: yarn prettier --write

chore: bump deps
  package.json
  src/components/graphs/graderte-sykmeldinger-evolution/controls.tsx
  src/components/graphs/graderte-sykmeldinger-evolution/graph.tsx
  src/components/header/app-header.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

setup database access
  nais/envs/.env.demo
  nais/nais-dev.yaml
  nais/network-policy-dev.yaml
  package.json
  src/app/api/internal/is_ready/route.ts
  src/app/api/test/route.ts
  src/db/pg.ts
  src/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

deploy egress in GHA
  .github/workflows/deploy-egress-dev.yaml
  .github/workflows/deploy-egress.yaml
  nais/network-policy-prod.yaml
  src/app/api/internal/is_ready/route.ts
Due: yarn eslint --fix --max-warnings=0

poc: testcontainers for local dev
  .env.development
  next.config.mjs
  package.json
  src/app/api/internal/is_ready/route.ts
  src/db/dev-db.ts
  src/db/pg.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add script to sync changesets from sykmelder-statistikk-kafka
  package.json
  scripts/sync-changesets.js
  src/app/api/internal/is_ready/route.ts
  src/db/dev/changesets/V1__initial_tables.sql
  src/db/dev/dev-db.ts
  src/db/dev/seed.ts
  src/db/pg.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump deps
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write

use new decorator layout approach (decorator-next)
  package.json
  src/app/layout.tsx
  src/components/header/app-header.tsx
  src/decorator/decorator.tsx
  src/decorator/fetch-decorator.tsx
  src/decorator/urls.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix database access in prod so pod doesn't keep crashing
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/db/pg.ts
  src/env.ts
Due: yarn eslint --fix --max-warnings=0

fix decorator service discovery access
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

sync db schema and fix local testcontainers db
  .env.development
  src/db/dev/changesets/V2__create_table_data.sql
  src/db/dev/seed.ts
Due: yarn eslint --fix --max-warnings=0

feat: add month-year picker component
  package.json
  src/app/sykefravaer/varighet/page.tsx
  src/components/filters/MonthYearPicker.tsx
  src/state-hooks/date.ts
  src/utils/date.ts
  src/utils/string.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: add QuarterPicker
  next.config.mjs
  package.json
  src/app/sykefravaer/varighet/page.tsx
  src/components/filters/MonthYearPicker.tsx
  src/components/filters/QuarterPicker.tsx
  src/state-hooks/date.ts
  src/utils/date.ts
  src/utils/tw.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: use right query state hook for QuarterPicker
  src/components/filters/QuarterPicker.tsx
Due: yarn eslint --fix --max-warnings=0

adjust cpu requests
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

add selects for filter
  src/app/sykefravaer/gradering/page.tsx
  src/app/sykefravaer/varighet/page.tsx
  src/app/sykmelding/gradering/page.tsx
  src/app/sykmelding/varighet/page.tsx
  src/components/filters/filter-sections/AgeSelect.tsx
  src/components/filters/filter-sections/AllCompletedCases.tsx
  src/components/filters/filter-sections/GenderSelect.tsx
  src/components/filters/filter-sections/GradingSelect.tsx
  src/components/filters/filter-sections/OwnSharedCasesSelect.tsx
  src/components/filters/filter-sections/SykefravaerGraderingFilter.tsx
  src/components/filters/filter-sections/SykefravaerVarighetFilter.tsx
  src/components/filters/filter-sections/SykmeldingFilter.tsx
Due: yarn eslint --fix --max-warnings=0
