Repository navikt/sykmelder-statistikk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls,yml,md,mdx}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

add selects for filter
  src/app/sykefravaer/gradering/page.tsx
  src/app/sykefravaer/varighet/page.tsx
  src/app/sykmelding/gradering/page.tsx
  src/app/sykmelding/varighet/page.tsx
  src/components/filters/filter-sections/AgeSelect.tsx
  src/components/filters/filter-sections/AllCompletedCases.tsx
  src/components/filters/filter-sections/GenderSelect.tsx
  src/components/filters/filter-sections/GradingSelect.tsx
  src/components/filters/filter-sections/OwnSharedCasesSelect.tsx
  src/components/filters/filter-sections/SykefravaerGraderingFilter.tsx
  src/components/filters/filter-sections/SykefravaerVarighetFilter.tsx
  src/components/filters/filter-sections/SykmeldingFilter.tsx
Due: yarn eslint --fix --max-warnings=0

use @main for workflows now that node 20 is default [skip ci]
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: run dependabot monthly [skip ci]
  .github/dependabot.yml
Due: yarn prettier --write

feat: example of graph that fetches data from DB with filters
  package.json
  scripts/sync-changesets.js
  src/app/sykefravaer/varighet/page.tsx
  src/components/TextLink.tsx
  src/components/filters/QuarterPicker.tsx
  src/components/layout/page-layout.tsx
  src/components/views/sykefravaer-varighet/SykefravaerVarighet.tsx
  src/components/views/sykefravaer-varighet/SykefravaerVarighetGraph.tsx
  src/db/dev/changesets/V3__create_table_alle.sql
  src/db/dev/changesets/V4__change_table_name_alle.sql
  src/db/dev/changesets/V5__naering_gruppe6_besk_lang_to_null.sql
  src/db/dev/dev-db.ts
  src/db/dev/seed.ts
  src/db/queries/sykefravaer.ts
  src/state-hooks/date.ts
  src/utils/date.ts
  src/utils/wait.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

common structures for graph
  src/app/page.tsx
  src/components/graphs/GraphSkeleton.tsx
  src/components/graphs/GraphToggleGroup.tsx
  src/components/graphs/GraphWrapper.tsx
  src/components/graphs/RechartsLine.tsx
  src/components/graphs/TableView.tsx
  src/components/graphs/graderte-sykmeldinger-evolution/controls.tsx
  src/components/graphs/graderte-sykmeldinger-evolution/graph-view.tsx
  src/components/graphs/graderte-sykmeldinger-evolution/graph.tsx
  src/components/views/sykefravaer-varighet/SykefravaerVarighet.tsx
  src/components/views/sykefravaer-varighet/SykefravaerVarighetGraph.tsx
  src/utils/string.ts
Due: yarn eslint --fix --max-warnings=0

feat: add secret dev page for re-seeding database
  src/app/dev/_actions.ts
  src/app/dev/_re-seed-button.tsx
  src/app/dev/page.tsx
  src/db/dev/seed.ts
Due: yarn eslint --fix --max-warnings=0

move devtools to button
  src/app/dev/_actions.ts
  src/app/dev/_re-seed-button.tsx
  src/app/dev/page.tsx
  src/app/layout.tsx
  src/components/devtools/DevTools.tsx
  src/components/devtools/tools/ReSeedDatabase.tsx
  src/components/devtools/tools/dev-actions.ts
Due: yarn eslint --fix --max-warnings=0

added testdata for sfs
  README.md
  scripts/sync-changesets.js
  src/app/sykefravaer/varighet/page.tsx
  src/db/dev/changesets/V1__create_table.sql
  src/db/dev/changesets/V1__initial_tables.sql
  src/db/dev/changesets/V2__create_table_data.sql
  src/db/dev/changesets/V2__create_table_sfs_sykmeldig.sql
  src/db/dev/changesets/V3__create_table_alle.sql
  src/db/dev/changesets/V4__change_table_name_alle.sql
  src/db/dev/changesets/V5__naering_gruppe6_besk_lang_to_null.sql
  src/db/dev/seed.ts
  src/db/queries/sykefravaer.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

drop right tables when re-seeding
  src/db/dev/seed.ts
Due: yarn eslint --fix --max-warnings=0

chore: tweak dependabot.yaml [skip ci]
  .github/dependabot.yml
Due: yarn prettier --write

chore: fix ip vuln
  yarn.lock
Due: none

chore: use @navikt/oasis
  package.json
  src/auth/authentication.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump @navikt/oasis
  package.json
  yarn.lock
Due: yarn prettier --write
